  <footer>
      <a class="bottom" href="/">ARMY WARRRIOR TASKS</a><br />
      <p class="description">This website is not endorsed by or affilitated with the United States Department of Defense. It is merely a tool for Soldiers to quickly access common tasks.</p>
      <p class="description">For questions, bug reports, or inquiries please contact the webmaster at gigiweb@programmer.net</p>
      <p class="description">If you are interested in furthering the functionality of this website, you may fork the <a href="#">Github repository.</a></p>
  </footer>
  </body>
</html>