<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/stylesheet.css" />
    <meta name="description" content="warrior task API">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Army Warrior Tasks</title>
  </head>
  <header>
    <p style="text-align:center"><a class="title" href="/">ARMY WARRIOR TASKS</a></p>
    <p class="description">An online repository for quickly finding and accessing all Army common tasks IAW SMCT 21-1-SMCT.</p>
    <form id="search" method="post">
      <input id="sq" name="searchquery" placeholder="Search" size="15" type="text" /><input formaction="https://warrior-tasks-ecglover8.c9users.io/search" id="sb" type="submit" value="" />
    </form>
  </header>
  <body>